.navbar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #676884;
    color: white;
    min-width: 200px;
    height: 100vh;
}

.navbar .logo {
    font-size: 24px;
    margin-bottom: 20px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

.navbar ul li {
    margin: 10px 0;
    font-size: 18px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    text-decoration: underline;
}
