.fridges-page {
    display: flex;
}

.specific-fridge-page {
    display: flex;
}

.fridges-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: #f0f0f0;
}

.fridges-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #676884;
}

.fridges-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    margin-top: 40px;
}

.fridge-button {
    display: inline-block;
    padding: 35px;
    margin: 10px;
    background-color: #565479;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 9px;
    transition: background-color 0.3s ease;
}

.fridge-button:hover {
    background-color: #48456e;
}

.fridge-button div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* SpecificFridge styles */
.specific-fridge-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f0f0f0;
}

.specific-fridge-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #676884;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
    max-width: 800px;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #7779A9;
}

th {
    background-color: #676884;
    font-weight: bold;
}

td {
    text-align: center;
}

/* Notifications styles */
.notifications-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: #f0f0f0;
}

.notifications-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #676884;
}

.notification-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.notification-item input {
    margin-right: 10px;
}

.notification-item span {
    font-size: 20px;
}
