<!DOCTYPE html>
<html>
<head>
    <title>Fridge Overview</title>
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding:8px;
        border: solid 1px #ffff;
        text-align: center;
    }

    tr {
        background-color: aliceblue;
    }

</style>
<body>
    <h1>Stock Overview</h1>
    <table>
        <thead>
            <tr>
                <th>Item ID</th>
                <th>Fridge Number</th>
                <th>Item Name</th>
                <th>Fresh Day</th>
                <th>Entry Date</th>
                <th>Expiry Date</th>
                <th>Exit Date</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            {% for data in fetched_data %}
            <tr>
                <td>{{ data[0] }}</td>
                <td>{{ data[1] }}</td>
                <td>{{ data[2] }}</td>
                <td>{{ data[3] }}</td>
                <td>{{ data[4] }}</td>
                <td>{{ data[5] }}</td>
                <td>{{ data[6] }}</td>
                <td><a href="/delete/{{ data[0] }}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="/notifications">Check Notifications</a></p>
</body>
</html>
